/*-- scss:defaults --*/
$theme-darkblue: #032733;
$them-blue: #1d7990;
$theme-orange: #f18e26;
$theme-red: #c9310c;
$theme-bordeaux: #641217;
$theme-black: #210400;
$theme-white:#F7F8F9;


$body-bg: $theme-white;
$body-color: $theme-black;
$link-color: $theme-bordeaux;
$navbar-bg: $theme-darkblue;
$code-color: $theme-bordeaux;
$navbar-fg: $theme-orange;
$code-block-border-left: true;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Merriweather:wght@300&display=swap');
$font-family-sans-serif: 'IBM Plex Serif', serif;
